<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>部门管理</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
<!--	<script type="text/javascript" src="../../js/layer/layer.js"></script>-->

	<style type="text/css">


	</style>

	<script type="text/javascript">

		function del(){
			var result = window.confirm("确认要删除吗?");
			if(true == result){
				alert("删除成功");
			} else {
				alert("取消删除");
			}
			return result;
		}

	</script>
  </head>

  <body>
         	<h1 class="title">首页  &gt;&gt;部门管理 </h1>

         	<div class="add">
         		<a href="/deptAdd.html" target="contentPage"><img alt="" src="/add.png" width="18px" height="18px">添加部门</a>
         	</div>

         	<table class="deptInfo">
         		<tr class="titleRow">
         			<td>部门编号</td>
         			<td>部门名称</td>
         			<td>部门位置</td>
         			<td>部门负责人</td>
         			<td>操作列表</td>
         		</tr>
				<tr data-th-each="dept : ${tDepts}">
					<td data-th-text="${dept.deptNo}">...</td>
					<td data-th-text="${dept.deptName}">...</td>
					<td data-th-text="${dept.deptLocation}">...</td>
					<td data-th-text="${dept.deptPid}">...</td>
					<td><a th:href="@{/delDept(deptId=${dept.deptId})}" onclick="return del()">删除</a>
						<a th:href="@{/toUpDept(deptId=${dept.deptId})}">修改</a> </td>
				</tr>
         	</table>
  </body>
</html>
