<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.TEmpMapper">

    <resultMap id="tempMap" type="com.zm.pojo.TEmp">
        <id property="empId" column="emp_id"/>
        <result property="empNo" column="emp_no"/>
        <result property="empName" column="emp_name"/>
        <result property="empDeptId" column="emp_dept_id"/>
        <result property="empSex" column="emp_sex"/>
        <result property="empEducation" column="emp_education"/>
        <result property="empEmail" column="emp_email"/>
        <result property="empPhone" column="emp_phone"/>
        <result property="empEntryTime" column="emp_entry_time"/>
        <result property="empCreateTime" column="emp_create_time"/>
    </resultMap>


    <!--    查询-->
    <select id="queryAll" resultMap="tempMap">
        select * from t_emp
    </select>
<!--    根据id查询-->
    <select id="selectByEmpId" resultMap="tempMap">
        select * from t_emp where emp_id = #{empId}
    </select>
</mapper>
